.tablink {
    background-color: #000;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 1rem;
    width: 25%;
    border: 1px outset #FFF
  }
  .tablink:hover {
    background-color: #000;
    color: #FFF
  }
  .tabcontent {
    color: #FFF;
    display: none;
    padding: 25px;
    text-align: center;
  }
button{
    width: 45%;
    padding: 4%;
    font-size:1.1em;
    text-shadow: 0.4px 1px 0.9px #191919;
    background-color: #f25C26;
    border-radius: 1px;
    border: 1.3px outset #fff;
    display: inline-block;
    cursor: pointer;
  }
button:hover {
      background-color: #000;
      color: #fff;
      text-shadow: 0px -1px 0px #191919;
      border-radius: 1.4px;
      border: 1.72px outset #fff;
    }
h1{
    text-align: center;
    background-color: #F25C27;
    color: #FFF;
    text-shadow: 1px 2px 2px #191919
}  
#twentyone {background-color: #000;}
#twentytwo {background-color: #F25C27;}
#twentytree {background-color: #000;}
#twentyfour {background-color: #F25C27;}body{
    font-family: Fira Sans, serif;
    font-weight: 900;
    background-image: url(../img/uni.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
#ex1{    
    display: table;    
    margin:20px auto;
    text-align: center;    
    color:001111;
    background-color:white;
    border: 1px solid #001111;
    padding: 5px 30px;
    }
header{
    margin: 0 auto;
    background-color: #F25c27;
    text-align: center;
    border: 3px outset #fff;
}
.headline{
    font-size: 3em;
    color: #fff;
    letter-spacing: 0.9px;
    background-color: #F25c27;
    text-shadow: 1.77px 2.22px 3.44px #191919;
    text-transform: uppercase;
    animation-name: xy;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes xy{
    0% {margin-left: 2%; text-shadow: 1.77px 2.22px 3.44px #000;}
    33% {margin-right: 1%; text-shadow: 2.77px 0.22px 4.44px #000;}
    66% {margin-left: 1%; text-shadow: 1.77px 1.22px 3.44px #000;}
    100% {margin-left: 1%; color: black;}
}
#ex1 [shadow]{
    filter:drop-shadow(0 0 25px #001111);
    padding:10px 0;
}
.divx {
    text-align: center;
    color: #fff;
    background-color: #F25c27;
    text-shadow: 2.77px 3.22px 3.64px #000;
}
.nm{
      font-size: 3em;
      color: #fff;
      letter-spacing: 0.8px;
      font-weight: 800;
}
.xday{
    color: #fff;
    font-size: 1.45em;
    font-weight: 400;
    letter-spacing: 0.6px;
    text-shadow: 3.77px 1.22px 2.64px #000;
}
.xyzzz{
    background-color: #000;
    border: 2px outset #fff
}
.tablink {
    background-color: #000;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 1rem;
    width: 25%;
    border: 1px outset #FFF
}
.tablink:hover {
    background-color: #000;
    color: #FFF
}
.tabcontent {
    color: #FFF;
    display: none;
    padding: 25px;
    max-width: fit-content;
}
